<h2>Countdown Timer</h2>

<div>
  {{input type="number" placeholder="Seconds to go" value=duration}}
  <button onclick={{perform startCountdown duration}}>Go</button>
  {{#if startCountdown.isRunning}}
    <button onclick={{cancel-all startCountdown}}>Stop</button>
  {{/if}}
</div>

{{#if decoratedCurrent}}
  <p>{{decoratedCurrent}}</p>
{{/if}}
