<h2>Countdown Timer</h2>

{{input type="number" placeholder="Seconds to go" value=duration}}
<button onclick={{perform startCountdown duration}}>Go</button>
<button onclick={{cancel-all startCountdown}}>Stop</button>

{{decoratedCurrent}}
