<h2>Hello There</h2>
<button onClick={{perform greet}}>I'll greet you, in a sec.</button>
<button onClick={{perform greetDebounced}}>I'll greet you, but only once.</button>
<button onClick={{perform greetDrop}}>I'll greet you, don't stress me.</button>
